body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
}

.heading-container {
    background-color: #cb202d;
    color: #ffffff;
    /* font-size: 2.5em; */
    padding: 0.8em 0;
    top: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 50px 0 rgba(2, 0, 31, 0.3);
    z-index: 1;
  }

.heading-container h4 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 5px;
  }
  .heading-container div {
    font-weight: 200;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: right;
  }
.menu-bar {
    background-color: #e71728;
    color: #fff;
    padding: 10px;
    margin-top: 125px;
    text-align: center;
    width: 60%;
    margin-left: 250px;
    
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-bar ul li {
    display: inline;
    margin-right: 20px;
}

.menu-bar ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
}

.article {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

h2 {
    margin: 0;
}
